/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 38px 50px 42px 33px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* top players styles */
.top-player{
    margin-bottom:30px;
}
.section-title{
    color:#562EFF;
    font-size: 24px;
    margin-top: 2px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* Top blog styles */
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left:16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}
